$primary_theme_color : rgba(25, 46, 124, 0.93);
$secondary_theme_color : rgba(142, 143, 148, 1);

$primary_theme_color_transparent : rgba(18, 58, 207, 0.19);
$secondary_theme_color_transparent : rgba(142, 143, 148, 0.39);;
